[user]
	name = Mindaugas Mozūras
	email = mindaugas.mozuras@gmail.com
[diff]
[color]
        ui = auto
[alias]
        st = status
        ci = commit
        co = checkout
        ps = push
        pl = pull
        di = diff
        dc = diff --cached
        ds = diff --stat=160,120
        dh1 = diff HEAD~1
        amend = commit --amend
        aa = add --all
        head = !git l -1
        h = !git head
        r = !git --no-pager l -20
        ra = !git r --all
        l = log --graph --abbrev-commit --date=relative
        la = !git l --all
        fa = fetch --all
        pom = push origin master
        b = branch -v
        sub = submodule
        subpull = submodule foreach git pull origin master
        spull = svn rebase
        spush = svn dcommit
        sfetch = svn fetch
	ctags = !.git/hooks/ctags
[format]
        pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[core]
	editor = vim
[merge]
        tool = vimdiff
[init]
	templatedir = ~/.git_template
