[user]
  name = Mindaugas Mozūras
  email = mindaugas.mozuras@gmail.com
[alias]
  s = status --short --untracked-files
  st = status

  a = add
  aa = add --all

  c = commit
  amend = commit --amend

  co = checkout
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"

  ps = push

  fa = fetch --all
  pl = pull
  plr = pull --rebase

  sub = submodule
  subpull = submodule foreach git pull origin master
  subrm = "!f() { git submodule deinit $@ && git rm $@; }; f"

  r = rebase
  ri = rebase --interactive
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort

  d = diff
  dc = diff --cached
  ds = diff --stat=160,120
  dh = diff HEAD~1

  l = log --graph --abbrev-commit --date=relative
  head = !git l -1
  h = !git head
  la = !git l --all

  day = shortlog --since=one.day.ago
  week = shortlog --since=one.week.ago
  month = shortlog --since=one.month.ago
  top = shortlog --summary --numbered

  what = whatchanged -p --abbrev-commit --pretty=medium

  b = branch --verbose
  re = remote --verbose

  redo = reset --soft HEAD^
  purge = !git reset --hard && git clean -fd
  cleanup = !git remote prune origin && git gc && git clean -dfx && git stash clear
  clean-merged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d

  sl = stash list
  sa = stash apply
  ss = stash save
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"

  g = grep --color=always --ignore-case --break --heading --line-number
  listconf = config --global --list
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore
[diff]
  algorithm = patience
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[github]
  user = mmozuras
[merge]
  tool = vimdiff
[push]
  default = current
