[user]
	name = Mindaugas Mozūras
	email = mindaugas.mozuras@gmail.com
[diff]
[color]
        ui = auto
[alias]
        s = status --short --untracked-files
        st = status
        ci = commit
        co = checkout
        ps = push
        pom = push origin master
        fa = fetch --all
        pl = pull
        plr = pull --rebase
        ri = rebase --interactive
        di = diff
        dc = diff --cached
        ds = diff --stat=160,120
        dh1 = diff HEAD~1
        amend = commit --amend
        aa = add --all
        head = !git l -1
        h = !git head
        l = log --graph --abbrev-commit --date=relative
        la = !git l --all
        b = branch --verbose
        re = remote --verbose
        redo = reset --soft HEAD^
        purge = !git reset --hard && git clean -fd
        sub = submodule
        subpull = submodule foreach git pull origin master
        spull = svn rebase
        spush = svn dcommit
        listconf = config --global --list
	ctags = !.git/hooks/ctags
[format]
        pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[core]
	editor = vim
[merge]
        tool = vimdiff
[init]
	templatedir = ~/.git_template
